body {
    margin: 0px;
    padding: 0px;
}

.container{
    font-family: Montserrat;
    background-image: url(assets/bg.png);
    height: 100vh;
    width: 100vw;
    background-repeat: none;
    background-size: cover;
}
.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 20;
    height: 50px;
    position: absolute;
    left: 20%;
}

.grow-list {
    position: relative;
    right: 2em;
}
.list {
    display: flex;
    gap: 20px;
    font-size: larger;
}
.list-item {
    list-style:none ;

}

.hero {
    text-align: center;
    color: #fff;
}

.hero-heading {
    font-size: 100px;
}

.hero-description{
    font-size: 30px;
}

button{
    font-size: 20px;
    background-color: rgb(200, 51, 198);
    color: #fff;
    border-radius: 6px;
    padding: 10px 15px;
}

button.button-large {
    font-size: 30px;
    padding: 15px 20px;
}